html {
  font-size: 62.5%;
}

body {
  width: 1281px;
  margin: 0 auto;
  background: #252727;
  font-family: 'Roboto Slab', serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
